/* Guidelines https://developer.mozilla.org/en-US/docs/MDN/Writing_guidelines/Writing_style_guide/Code_style_guide/CSS */


body {
    background-color: aqua;
    color: blueviolet;
}

.error{
    color: red;
}