<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" th:href="@{general.css}">
</head>
<body>
    <h1> TherapEase </h1>

    <h1> Worry free, management software. </h1> <!-- Focus on using language which doesn't use corporate buzzwords, e.g. management software, but this can be fixed at a later date  -->

    <h2> Confidential and secure, that's our promise to you. </h2>

    <nav class="button">
        <button id="login-button"> Login </button>
        <button id="register-button"> Sign up </button>
        <button id="about-us"> About Us.</button>
        <button id="policy"> Our policy to you. </button>
        <button id="github"> Contact</button>
      </nav>

    <img src=""

</body>
</html>