<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login.</title>
    <link th:href="@{/styles/general.css}" rel="stylesheet"/>
</head>
<body>
    <h1> Custom form! </h1>
    <form th:action="@{/authentication}" id="loginForm" method="POST">

        <!-- Error message -->
        <div th:if="${param.error}">
            <i> Error </i>
        </div>

        <label>
            User Name : <input name="username" type="text"/>
        </label>

        <label>
            Password: <input name="password" type="password"/>
        </label>

        <input type="submit" value="Login"/>
    </form>
</body>
</html>